<nav class="navbar navbar-expand-lg navbar-bg py-5">
    
    <div class="container ">
      <a class="navbar-brand fw-bold text-uppercase d-flex text-white" routerLink="Home" >Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link fw-bold text-uppercase text-white"  routerLink="About" routerLinkActive="Active" aria-current="page" >About</a>
          <a class="nav-link fw-bold text-uppercase text-white"  routerLink="Portfolio" routerLinkActive="Active" >Portfolio</a>
          <a class="nav-link fw-bold text-uppercase text-white"  routerLink="Contact" routerLinkActive="Active" >Contact</a>
        </div>
      </div>
    </div>
  </nav>
