<div class="d-flex justify-content-center align-content-center">
    <h2 class="text-black fw-bold text-uppercase">conatct component</h2>
</div>
<div class="d-flex justify-content-center mb-3">
    
    <div class="start m-2"></div>
    <i class="fa-solid fa-star fw-bold text-black"></i>
    <div class="end m-2"></div>
   
</div>

<div class="container p-5">
    <div class="row g-2">
        <label class="text-black" for="username">User Name:</label>
        <input placeholder="User Name" name="username" type="text" class="form-control">
        <label class="text-black" for="username">User age:</label>
        <input placeholder="User Age" name="userage" type="text" class="form-control">
        <label class="text-black" for="useremail">User Email:</label>
        <input placeholder="User Email" name="useremail" type="text" class="form-control">
        <label class="text-black" for="username">User Password:</label>
        <input placeholder="User Password" name="userpassword" type="text" class="form-control">
        <button type="submit" class="btn btn-success col-2">Submit</button>
    </div>
</div>